body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u82136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:50px;
  background:inherit;
  background-color:rgba(74, 93, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82137 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1px;
  width:1708px;
  height:50px;
}
#u82137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u82138 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:15px;
  width:197px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u82138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u82139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82139 {
  border-width:0px;
  position:absolute;
  left:1786px;
  top:14px;
  width:92px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u82140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u82140 {
  border-width:0px;
  position:absolute;
  left:1752px;
  top:13px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u82140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1026px;
}
#u82141 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:210px;
  height:1026px;
}
#u82141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:52px;
}
#u82142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:52px;
}
#u82142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82143 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:15px;
  width:123px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u82144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u82144 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u82144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4D586A;
}
#u82145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  word-wrap:break-word;
}
#u82146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82148 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:124px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82151 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:174px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82154 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:274px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82155 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82157 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:424px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:452px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82160 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:474px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82163 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:374px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:952px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82166 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:974px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82167 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:502px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82169 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:524px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82172 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:324px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82175 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:552px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82176 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:574px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#4D586A;
}
#u82176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:50px;
}
#u82177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:552px;
  width:10px;
  height:50px;
}
#u82177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82180 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:224px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:902px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82183 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:924px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82184 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:802px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82185 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:652px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82186 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:702px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82187 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:752px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82188 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:602px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82189 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:852px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82190 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:190px;
  width:410px;
  height:157px;
}
#u82190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:222px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82191 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:547px;
  width:410px;
  height:222px;
}
#u82191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u82192 {
  border-width:0px;
  position:absolute;
  left:842px;
  top:563px;
  width:25px;
  height:20px;
}
#u82192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u82193 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:202px;
  width:24px;
  height:20px;
}
#u82193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82194 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:204px;
  width:57px;
  height:17px;
}
#u82194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u82195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82195 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:565px;
  width:57px;
  height:17px;
}
#u82195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u82196_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:215px;
}
#u82196 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:347px;
  width:5px;
  height:200px;
}
#u82196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u82197 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:204px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u82197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u82198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u82198 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:563px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u82198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u82199_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:324px;
  height:5px;
}
#u82199 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:279px;
  width:321px;
  height:2px;
}
#u82199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82200_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:324px;
  height:5px;
}
#u82200 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:703px;
  width:321px;
  height:2px;
}
#u82200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82201 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:292px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u82201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82202 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:709px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u82202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82203 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:435px;
  width:25px;
  height:25px;
  font-size:20px;
  color:#FFFFFF;
}
#u82203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u82204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82204 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:601px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u82204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82205 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:652px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u82205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u82206 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:247px;
  width:321px;
  height:25px;
}
#u82206_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u82207 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:252px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u82207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u82208 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:312px;
  width:321px;
  height:25px;
}
#u82208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82209_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82209 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:319px;
  width:71px;
  height:11px;
  font-size:10px;
}
#u82209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u82210 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:616px;
  width:321px;
  height:25px;
}
#u82210_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82211 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:623px;
  width:101px;
  height:11px;
  font-size:10px;
}
#u82211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u82212 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:671px;
  width:321px;
  height:25px;
}
#u82212_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82213 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:679px;
  width:101px;
  height:11px;
  font-size:10px;
}
#u82213_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u82214 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:726px;
  width:321px;
  height:25px;
}
#u82214_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82215 {
  border-width:0px;
  position:absolute;
  left:888px;
  top:734px;
  width:71px;
  height:11px;
  font-size:10px;
}
#u82215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u82216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:293px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u82216 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:446px;
  width:185px;
  height:293px;
}
#u82216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82217 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:464px;
  width:57px;
  height:17px;
}
#u82217_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u82218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82218 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:676px;
  width:57px;
  height:17px;
}
#u82218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u82219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
}
#u82219 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:698px;
  width:109px;
  height:29px;
  font-size:12px;
}
#u82219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
}
#u82220 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:491px;
  width:109px;
  height:29px;
  font-size:12px;
}
#u82220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
}
#u82221 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:526px;
  width:109px;
  height:29px;
  font-size:12px;
}
#u82221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
}
#u82222 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:563px;
  width:109px;
  height:29px;
  font-size:12px;
}
#u82222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82223 {
  border-width:0px;
  position:absolute;
  left:1073px;
  top:608px;
  width:85px;
  height:17px;
}
#u82223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-size:12px;
}
#u82224 {
  border-width:0px;
  position:absolute;
  left:1083px;
  top:632px;
  width:109px;
  height:29px;
  font-size:12px;
}
#u82224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:41px;
}
#u82225 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:141px;
  width:326px;
  height:41px;
}
#u82225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82226_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82226 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:153px;
  width:150px;
  height:17px;
}
#u82226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u82227 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:182px;
  width:326px;
  height:180px;
}
#u82228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82229 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:109px;
  height:30px;
}
#u82229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82230 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:0px;
  width:108px;
  height:30px;
}
#u82230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82231 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
}
#u82231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82232 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:30px;
  width:109px;
  height:30px;
}
#u82232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82233 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:30px;
  width:108px;
  height:30px;
}
#u82233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82234 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
}
#u82234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82235 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:60px;
  width:109px;
  height:30px;
}
#u82235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82236 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:60px;
  width:108px;
  height:30px;
}
#u82236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82237 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
}
#u82237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82238 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:90px;
  width:109px;
  height:30px;
}
#u82238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82239 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:90px;
  width:108px;
  height:30px;
}
#u82239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82240 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
}
#u82240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82241 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:120px;
  width:109px;
  height:30px;
}
#u82241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82242 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:120px;
  width:108px;
  height:30px;
}
#u82242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82243 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:109px;
  height:30px;
}
#u82243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82244 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:150px;
  width:109px;
  height:30px;
}
#u82244_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82245 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:150px;
  width:108px;
  height:30px;
}
#u82245_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82246 {
  border-width:0px;
  position:absolute;
  left:1775px;
  top:73px;
  width:92px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u82247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1690px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82247 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:61px;
  width:1690px;
  height:58px;
}
#u82247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u82248 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:81px;
  width:191px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u82248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u82249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(100, 126, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u82249 {
  border-width:0px;
  position:absolute;
  left:1811px;
  top:75px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u82249_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u82250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u82250 {
  border-width:0px;
  position:absolute;
  left:1721px;
  top:75px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u82250_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u82251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u82251 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u82251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:649px;
  height:1078px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82252 {
  border-width:0px;
  position:absolute;
  left:1271px;
  top:0px;
  width:649px;
  height:1078px;
}
#u82252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82253 {
  border-width:0px;
  position:absolute;
  left:1276px;
  top:5px;
  width:639px;
  height:58px;
}
#u82253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u82254 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:26px;
  width:98px;
  height:19px;
  font-size:16px;
}
#u82254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  white-space:nowrap;
}
#u82255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(100, 126, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u82255 {
  border-width:0px;
  position:absolute;
  left:1837px;
  top:19px;
  width:66px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u82255_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u82256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u82256 {
  border-width:0px;
  position:absolute;
  left:1761px;
  top:19px;
  width:66px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u82256_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u82257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u82257 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:75px;
  width:71px;
  height:19px;
  font-size:16px;
}
#u82257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u82258 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:104px;
  width:605px;
  height:30px;
}
#u82258_input {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u82259 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:175px;
  width:103px;
  height:19px;
  font-size:16px;
}
#u82259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  white-space:nowrap;
}
#u82260 {
  border-width:0px;
  position:absolute;
  left:1298px;
  top:197px;
  width:220px;
  height:40px;
}
#u82260_input {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u82260_input:disabled {
  color:grayText;
}
