body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u82388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82388 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u82388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82389_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:50px;
  background:inherit;
  background-color:rgba(74, 93, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82389 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1px;
  width:1708px;
  height:50px;
}
#u82389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u82390 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:15px;
  width:197px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u82390_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u82391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82391 {
  border-width:0px;
  position:absolute;
  left:1775px;
  top:73px;
  width:92px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82391_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u82392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u82392 {
  border-width:0px;
  position:absolute;
  left:1752px;
  top:13px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u82392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1026px;
}
#u82393 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:210px;
  height:1026px;
}
#u82393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:52px;
}
#u82394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:52px;
}
#u82394_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82395 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:15px;
  width:123px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u82395_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u82396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u82396 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u82396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4D586A;
}
#u82397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  word-wrap:break-word;
}
#u82398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82399 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82400 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:124px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82402 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82403 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:174px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82403_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82404 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82405 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82406 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:274px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82408 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82409 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:424px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82409_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82410 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:452px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82412 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:474px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82414_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82415 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:374px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:952px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82418 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:974px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82418_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82420 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:502px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82421 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:524px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82421_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82424 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:324px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82424_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82425 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82426 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:552px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82428 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:574px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#4D586A;
}
#u82428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82429 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82430 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82431 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:224px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82431_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82432 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u82433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u82433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:902px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u82434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u82434 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:924px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u82434_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82435 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:802px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82436 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:652px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82437 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:702px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82438 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:752px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82439 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:602px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u82440 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:852px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u82440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u82441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:157px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82441 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:190px;
  width:410px;
  height:157px;
}
#u82441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:20px;
}
#u82442 {
  border-width:0px;
  position:absolute;
  left:841px;
  top:202px;
  width:24px;
  height:20px;
}
#u82442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82443 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:204px;
  width:57px;
  height:17px;
}
#u82443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u82444_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-2px;
  width:31px;
  height:149px;
}
#u82444 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:347px;
  width:5px;
  height:134px;
}
#u82444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u82445 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:204px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u82445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u82446_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:324px;
  height:5px;
}
#u82446 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:279px;
  width:321px;
  height:2px;
}
#u82446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82447 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:292px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u82447_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82448_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82448 {
  border-width:0px;
  position:absolute;
  left:1019px;
  top:402px;
  width:25px;
  height:25px;
  font-size:20px;
}
#u82448_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u82449 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:247px;
  width:321px;
  height:25px;
}
#u82449_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#999999;
}
#u82450 {
  border-width:0px;
  position:absolute;
  left:884px;
  top:252px;
  width:97px;
  height:15px;
  font-size:12px;
  color:#999999;
}
#u82450_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u82451 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:312px;
  width:321px;
  height:25px;
}
#u82451_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82452 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:319px;
  width:71px;
  height:11px;
  font-size:10px;
}
#u82452_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u82453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:41px;
}
#u82453 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:141px;
  width:326px;
  height:41px;
}
#u82453_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82454 {
  border-width:0px;
  position:absolute;
  left:310px;
  top:153px;
  width:150px;
  height:17px;
}
#u82454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  white-space:nowrap;
}
#u82455 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:182px;
  width:326px;
  height:180px;
}
#u82456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82456_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82457 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:109px;
  height:30px;
}
#u82457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82458 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:0px;
  width:108px;
  height:30px;
}
#u82458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:109px;
  height:30px;
}
#u82459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82460 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:30px;
  width:109px;
  height:30px;
}
#u82460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82461 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:30px;
  width:108px;
  height:30px;
}
#u82461_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:109px;
  height:30px;
}
#u82462_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82463 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:60px;
  width:109px;
  height:30px;
}
#u82463_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82464 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:60px;
  width:108px;
  height:30px;
}
#u82464_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:109px;
  height:30px;
}
#u82465_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82466 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:90px;
  width:109px;
  height:30px;
}
#u82466_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82467 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:90px;
  width:108px;
  height:30px;
}
#u82467_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82468 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:109px;
  height:30px;
}
#u82468_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82469 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:120px;
  width:109px;
  height:30px;
}
#u82469_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82470 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:120px;
  width:108px;
  height:30px;
}
#u82470_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82471 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:109px;
  height:30px;
}
#u82471_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u82472 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:150px;
  width:109px;
  height:30px;
}
#u82472_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:105px;
  word-wrap:break-word;
}
#u82473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u82473 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:150px;
  width:108px;
  height:30px;
}
#u82473_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:104px;
  word-wrap:break-word;
}
#u82474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1690px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82474 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:61px;
  width:1690px;
  height:58px;
}
#u82474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u82475 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:81px;
  width:191px;
  height:19px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u82475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u82476_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(100, 126, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u82476 {
  border-width:0px;
  position:absolute;
  left:1811px;
  top:75px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u82476_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u82477_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u82477 {
  border-width:0px;
  position:absolute;
  left:1721px;
  top:75px;
  width:80px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u82477_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u82478_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:28px;
  background:inherit;
  background-color:rgba(222, 222, 240, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82478 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:77px;
  width:58px;
  height:28px;
}
#u82478_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:54px;
  word-wrap:break-word;
}
#u82479_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:213px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82479 {
  border-width:0px;
  position:absolute;
  left:828px;
  top:777px;
  width:410px;
  height:213px;
}
#u82479_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:20px;
}
#u82480 {
  border-width:0px;
  position:absolute;
  left:843px;
  top:792px;
  width:25px;
  height:20px;
}
#u82480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82481 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:795px;
  width:57px;
  height:17px;
}
#u82481_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u82482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u82482 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:792px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u82482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u82483_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:324px;
  height:5px;
}
#u82483 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:933px;
  width:321px;
  height:2px;
}
#u82483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82484 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:939px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u82484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82485_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82485 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:831px;
  width:85px;
  height:15px;
  font-size:12px;
}
#u82485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u82486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82486 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:882px;
  width:109px;
  height:15px;
  font-size:12px;
}
#u82486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u82487 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:846px;
  width:321px;
  height:25px;
}
#u82487_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82488 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:853px;
  width:101px;
  height:11px;
  font-size:10px;
}
#u82488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u82489 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:901px;
  width:321px;
  height:25px;
}
#u82489_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82490 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:909px;
  width:101px;
  height:11px;
  font-size:10px;
}
#u82490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  white-space:nowrap;
}
#u82491 {
  border-width:0px;
  position:absolute;
  left:878px;
  top:956px;
  width:321px;
  height:25px;
}
#u82491_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82492 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:964px;
  width:71px;
  height:11px;
  font-size:10px;
}
#u82492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u82493_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82493 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:481px;
  width:410px;
  height:100px;
}
#u82493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#000000;
}
#u82494 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:495px;
  width:99px;
  height:15px;
  font-size:12px;
  color:#000000;
}
#u82494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u82495_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u82495 {
  border-width:0px;
  position:absolute;
  left:1199px;
  top:495px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u82495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u82496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:20px;
}
#u82496 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:495px;
  width:14px;
  height:20px;
}
#u82496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82497_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u82497 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:529px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u82497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u82498 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:544px;
  width:321px;
  height:25px;
}
#u82498_input {
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u82499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:11px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u82499 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:551px;
  width:61px;
  height:11px;
  font-size:10px;
}
#u82499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u82500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:30px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82500 {
  border-width:0px;
  position:absolute;
  left:1029px;
  top:581px;
  width:5px;
  height:30px;
}
#u82500_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82501_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82501 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:611px;
  width:300px;
  height:5px;
}
#u82501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:111px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82502 {
  border-width:0px;
  position:absolute;
  left:877px;
  top:611px;
  width:5px;
  height:111px;
}
#u82502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:111px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82503 {
  border-width:0px;
  position:absolute;
  left:1182px;
  top:611px;
  width:5px;
  height:111px;
}
#u82503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:5px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82504 {
  border-width:0px;
  position:absolute;
  left:882px;
  top:717px;
  width:300px;
  height:5px;
}
#u82504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:60px;
  background:inherit;
  background-color:rgba(121, 121, 121, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82505 {
  border-width:0px;
  position:absolute;
  left:1030px;
  top:717px;
  width:5px;
  height:60px;
}
#u82505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82506 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:636px;
  width:50px;
  height:25px;
}
#u82506_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u82507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u82507 {
  border-width:0px;
  position:absolute;
  left:1160px;
  top:636px;
  width:50px;
  height:25px;
}
#u82507_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:46px;
  word-wrap:break-word;
}
#u82508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82508 {
  border-width:0px;
  position:absolute;
  left:867px;
  top:676px;
  width:25px;
  height:25px;
  font-size:20px;
}
#u82508_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u82509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82509 {
  border-width:0px;
  position:absolute;
  left:1173px;
  top:676px;
  width:25px;
  height:25px;
  font-size:20px;
}
#u82509_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
#u82510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u82510 {
  border-width:0px;
  position:absolute;
  left:1020px;
  top:736px;
  width:25px;
  height:25px;
  font-size:20px;
}
#u82510_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:21px;
  word-wrap:break-word;
}
