body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u55160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u55160_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:50px;
  background:inherit;
  background-color:rgba(74, 93, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55161 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1px;
  width:1708px;
  height:50px;
}
#u55161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u55162 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:15px;
  width:263px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u55162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  white-space:nowrap;
}
#u55163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u55163 {
  border-width:0px;
  position:absolute;
  left:1786px;
  top:14px;
  width:92px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u55163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u55164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u55164 {
  border-width:0px;
  position:absolute;
  left:1752px;
  top:13px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u55164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1026px;
}
#u55165 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:210px;
  height:1026px;
}
#u55165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:52px;
}
#u55166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:52px;
}
#u55166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u55167 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:15px;
  width:123px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u55167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u55168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u55168 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u55168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4D586A;
}
#u55169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  word-wrap:break-word;
}
#u55170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55172 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:124px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55175 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:174px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55178 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:274px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55178_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55179 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:652px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55181 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:674px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:702px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55184 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:724px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55187 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:324px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:902px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55190 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:924px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:752px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55193 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:774px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:802px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55196 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:824px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55196_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55200 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:424px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#4D586A;
}
#u55200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:50px;
}
#u55201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:10px;
  height:50px;
}
#u55201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55202 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55204 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:224px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55204_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:852px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55207 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:874px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u55208 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:502px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u55209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u55209 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:452px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u55210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u55211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u55212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u55212 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:374px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u55212_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u55214 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:110px;
  width:141px;
  height:50px;
  font-size:14px;
  color:#4D586A;
}
#u55214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:137px;
  word-wrap:break-word;
}
#u55215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1551px;
  height:1005px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55215 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:59px;
  width:1551px;
  height:1005px;
}
#u55215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:406px;
  width:1547px;
  word-wrap:break-word;
}
#u55216 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u55217 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:59px;
  width:141px;
  height:50px;
  font-size:14px;
  color:#4D586A;
}
#u55217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:137px;
  word-wrap:break-word;
}
#u55218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u55218 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:552px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u55219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u55219 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:602px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u55219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u55220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1517px;
  height:60px;
}
#u55220 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:102px;
  width:1517px;
  height:60px;
}
#u55220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1517px;
  height:60px;
}
#u55222 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:162px;
  width:1517px;
  height:60px;
}
#u55222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1517px;
  height:6px;
}
#u55223 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:216px;
  width:1517px;
  height:6px;
}
#u55223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55224 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:124px;
  width:57px;
  height:17px;
}
#u55224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u55226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1517px;
  height:60px;
}
#u55226 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:222px;
  width:1517px;
  height:60px;
}
#u55226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1517px;
  height:6px;
}
#u55227 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:276px;
  width:1517px;
  height:6px;
}
#u55227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55228 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:124px;
  width:57px;
  height:17px;
}
#u55228_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55229 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:124px;
  width:57px;
  height:17px;
}
#u55229_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55230 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:124px;
  width:57px;
  height:17px;
}
#u55230_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55231 {
  border-width:0px;
  position:absolute;
  left:1797px;
  top:69px;
  width:92px;
  height:30px;
  font-size:12px;
}
#u55231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:88px;
  word-wrap:break-word;
}
#u55232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:858px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55232 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:160px;
  width:20px;
  height:858px;
}
#u55232_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:60px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55233 {
  border-width:0px;
  position:absolute;
  left:1889px;
  top:163px;
  width:20px;
  height:60px;
}
#u55233_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55234 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:124px;
  width:85px;
  height:17px;
}
#u55234_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u55235_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55235 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:124px;
  width:57px;
  height:17px;
}
#u55235_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55236 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:124px;
  width:57px;
  height:17px;
}
#u55236_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55237 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:124px;
  width:57px;
  height:17px;
}
#u55237_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u55238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u55238 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:124px;
  width:29px;
  height:17px;
}
#u55238_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u55239_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55239 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:177px;
  width:112px;
  height:29px;
  font-size:12px;
}
#u55239_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u55240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#40AB6B;
}
#u55240 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:184px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#40AB6B;
}
#u55240_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u55241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
}
#u55241 {
  border-width:0px;
  position:absolute;
  left:1111px;
  top:245px;
  width:37px;
  height:15px;
  font-size:12px;
  color:#FF0000;
}
#u55241_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u55242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55242 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:184px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u55242_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u55243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55243 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:184px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u55243_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u55244_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u55244 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:184px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u55244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55245_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55245 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:184px;
  width:37px;
  height:15px;
  font-size:12px;
}
#u55245_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u55246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55246 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:184px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u55246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u55247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55247 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:184px;
  width:61px;
  height:15px;
  font-size:12px;
}
#u55247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u55248_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55248 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:244px;
  width:73px;
  height:15px;
  font-size:12px;
}
#u55248_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u55249_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55249 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:244px;
  width:121px;
  height:15px;
  font-size:12px;
}
#u55249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u55250_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55250 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:184px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u55250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55251_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55251 {
  border-width:0px;
  position:absolute;
  left:671px;
  top:244px;
  width:25px;
  height:15px;
  font-size:12px;
}
#u55251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55252_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55252 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:237px;
  width:112px;
  height:29px;
  font-size:12px;
}
#u55252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u55253_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55253 {
  border-width:0px;
  position:absolute;
  left:985px;
  top:244px;
  width:49px;
  height:15px;
  font-size:12px;
}
#u55253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u55254_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55254 {
  border-width:0px;
  position:absolute;
  left:1215px;
  top:244px;
  width:112px;
  height:15px;
  font-size:12px;
}
#u55254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  white-space:nowrap;
}
#u55255_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u55255 {
  border-width:0px;
  position:absolute;
  left:1357px;
  top:244px;
  width:34px;
  height:15px;
  font-size:12px;
}
#u55255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u55256_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u55256 {
  border-width:0px;
  position:absolute;
  left:1515px;
  top:177px;
  width:25px;
  height:29px;
  font-size:12px;
  color:#198DFF;
}
#u55256_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55257_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u55257 {
  border-width:0px;
  position:absolute;
  left:1549px;
  top:184px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u55257_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55258_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u55258 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:184px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u55258_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55259_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u55259 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:244px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u55259_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55260_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u55260 {
  border-width:0px;
  position:absolute;
  left:1515px;
  top:244px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u55260_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u55261_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u55261 {
  border-width:0px;
  position:absolute;
  left:1482px;
  top:244px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u55261_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
