body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u53080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53080 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:1080px;
}
#u53080_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1708px;
  height:50px;
  background:inherit;
  background-color:rgba(74, 93, 240, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53081 {
  border-width:0px;
  position:absolute;
  left:210px;
  top:1px;
  width:1708px;
  height:50px;
}
#u53081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53082_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u53082 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:15px;
  width:197px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u53082_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u53083_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53083 {
  border-width:0px;
  position:absolute;
  left:1786px;
  top:14px;
  width:92px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53083_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  white-space:nowrap;
}
#u53084_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u53084 {
  border-width:0px;
  position:absolute;
  left:1752px;
  top:13px;
  width:24px;
  height:24px;
  color:#FFFFFF;
}
#u53084_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53085_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:1026px;
}
#u53085 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:52px;
  width:210px;
  height:1026px;
}
#u53085_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53086_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:52px;
}
#u53086 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:52px;
}
#u53086_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53087_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53087 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:15px;
  width:123px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u53087_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u53088_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u53088 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:30px;
  height:30px;
  color:#FFFFFF;
}
#u53088_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53089_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53089 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:52px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#4D586A;
}
#u53089_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:206px;
  word-wrap:break-word;
}
#u53090 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53091_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53091 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:102px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53091_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53092_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53092 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:124px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53092_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53093 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53094_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53094 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:152px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53094_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53095_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53095 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:174px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53095_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53096 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53097_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53097 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:252px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53097_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53098_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53098 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:274px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53098_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53099 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:552px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53100_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53101_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53101 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:574px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53101_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53103 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:602px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53103_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53104 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:624px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53104_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:302px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53106_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53107 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:324px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53107_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53109_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:802px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53110_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53110 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:824px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53110_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53111 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53112_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:652px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53112_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53113 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:674px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53114 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:702px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53115_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53116_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53116 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:724px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53116_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53117 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53119_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53119_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53120 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:424px;
  width:12px;
  height:7px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  color:#4D586A;
}
#u53120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:50px;
}
#u53121 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:402px;
  width:10px;
  height:50px;
}
#u53121_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53122 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:202px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53123_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53124 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:224px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53124_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:752px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53126_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53127 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:774px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53127_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u53128 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:502px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u53129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:50px;
}
#u53129 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:452px;
  width:199px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53129_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:195px;
  word-wrap:break-word;
}
#u53130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:50px;
}
#u53131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:352px;
  width:210px;
  height:50px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#4D586A;
}
#u53131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:206px;
  word-wrap:break-word;
}
#u53132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:7px;
}
#u53132 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:374px;
  width:12px;
  height:7px;
  color:#4D586A;
}
#u53132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(236, 237, 251, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(74, 93, 240, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#4A5DF0;
}
#u53133 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:63px;
  width:100px;
  height:30px;
  font-size:12px;
  color:#4A5DF0;
}
#u53133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53134 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:63px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u53134_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53135 {
  border-width:0px;
  position:absolute;
  left:314px;
  top:63px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u53135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53136 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:63px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u53136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1693px;
  height:980px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(74, 93, 240, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53137 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:93px;
  width:1693px;
  height:980px;
}
#u53137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53138 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:63px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u53138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(247, 246, 252, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53139 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:63px;
  width:100px;
  height:30px;
  font-size:12px;
}
#u53139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u53140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u53141 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:162px;
  width:141px;
  height:50px;
  font-size:14px;
  color:#4D586A;
}
#u53141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:137px;
  word-wrap:break-word;
}
#u53142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1530px;
  height:964px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53142 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:101px;
  width:1530px;
  height:964px;
}
#u53142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:386px;
  width:1526px;
  word-wrap:break-word;
}
#u53143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:50px;
}
#u53144 {
  border-width:0px;
  position:absolute;
  left:221px;
  top:111px;
  width:141px;
  height:50px;
  font-size:14px;
  color:#4D586A;
}
#u53144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:137px;
  word-wrap:break-word;
}
#u53145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:40px;
}
#u53146 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:118px;
  width:1506px;
  height:40px;
}
#u53146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:5px;
}
#u53147 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:153px;
  width:1506px;
  height:5px;
}
#u53147_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:5px;
}
#u53148 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:113px;
  width:1506px;
  height:5px;
}
#u53148_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53149 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:128px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u53149_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u53150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:40px;
}
#u53151 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:158px;
  width:1506px;
  height:40px;
}
#u53151_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:4px;
}
#u53152 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:194px;
  width:1506px;
  height:4px;
}
#u53152_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53153 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:170px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u53153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u53154 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:162px;
  width:334px;
  height:30px;
}
#u53154_input {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u53155 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:118px;
  width:334px;
  height:30px;
}
#u53155_input {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u53156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u53157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:40px;
}
#u53157 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:198px;
  width:1506px;
  height:40px;
}
#u53157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1506px;
  height:4px;
}
#u53158 {
  border-width:0px;
  position:absolute;
  left:372px;
  top:234px;
  width:1506px;
  height:4px;
}
#u53158_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53159_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53159 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:210px;
  width:97px;
  height:15px;
  font-size:12px;
}
#u53159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u53160 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:202px;
  width:334px;
  height:30px;
}
#u53160_input {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u53161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53161 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:126px;
  width:12px;
  height:15px;
  font-size:12px;
}
#u53161_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u53162_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53162 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:170px;
  width:12px;
  height:15px;
  font-size:12px;
}
#u53162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u53163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
}
#u53163 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:210px;
  width:12px;
  height:15px;
  font-size:12px;
}
#u53163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u53164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:33px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u53164 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:248px;
  width:130px;
  height:33px;
}
#u53164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:126px;
  word-wrap:break-word;
}
#u53165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u53165 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:210px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u53165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u53166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#198DFF;
}
#u53166 {
  border-width:0px;
  position:absolute;
  left:895px;
  top:170px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#198DFF;
}
#u53166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u53167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(100, 126, 243, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u53167 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:1011px;
  width:66px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u53167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
#u53168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u53168 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:1011px;
  width:66px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u53168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:62px;
  word-wrap:break-word;
}
